<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Checkout Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <script src="/js/app.min.js" defer></script>

</head>

<body>

    <div id="page-container" class="fade">

        <%- include("./navigation-bar.ejs") %>

        <div class="section-container" id="checkout-info">

            <div class="container">

                <div class="checkout">
                    <form action="/customer/checkout-payment" method="POST" name="form_shipping"
                        class="form-horizontal">

                        <div class="checkout-header">

                            <div class="row">

                                <div class="col-lg-3">
                                    <div class="step">
                                        <a href="">
                                            <div class="number">1</div>
                                            <div class="info">
                                                <div class="title">Delivery Options</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="step active">
                                        <a href="">
                                            <div class="number">2</div>
                                            <div class="info">
                                                <div class="title">Shipping Address</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="step">
                                        <a href="">
                                            <div class="number">3</div>
                                            <div class="info">
                                                <div class="title">Payment</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="step">
                                        <a href="">
                                            <div class="number">4</div>
                                            <div class="info">
                                                <div class="title">Complete Payment</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="checkout-body">
                            <div class="form-group row">
                                <label class="col-form-label col-md-4 text-lg-right">
                                    Name <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="name" value="" placeholder="Name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-4 text-lg-right">
                                    Address<span class="text-danger">&nbsp;</span>
                                </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="address" value="" placeholder="Address" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-4 text-lg-right">
                                    District<span class="text-danger">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="district" value="" placeholder="District" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-4 text-lg-right">
                                    Phone Number <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="phoneNumber" value=""
                                        placeholder="Phone Number" />
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label class="col-form-label col-md-4 text-lg-right">
                                    Street Address <span class="text-danger">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control m-b-10" name="address_1" value=""
                                        placeholder="" />
                                    <input type="text" class="form-control" name="address_2" value="" placeholder="" />
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label class="col-form-label col-md-4 text-lg-right">
                                    PIN Code<span class="text-danger">*</span>
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="pinCode" value="" placeholder="632035" />
                                    <!-- <p class="form-text m-b-0 f-s-12 text-muted f-w-600 m-t-10">Enter ZIP for City and
                                        State ZIP Code</p> -->
                                </div>
                            </div>
                        </div>


                        <div class="checkout-footer">
                            <a href="/customer/checkout-cart" class="btn btn-white btn-theme pull-left">BACK</a>
                            <button type="submit" class="btn btn-inverse btn-theme m-l-10">CONTINUE</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>
        <%- include("./footer.ejs") %>

</body>

</html>