<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Payment Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <script src="/js/app.min.js" defer></script>

</head>

<body>
    <div id="page-container" class="fade">

        <%- include("./navigation-bar.ejs") %>

        <div class="section-container" id="checkout-payment">

            <div class="container">

                <div class="checkout">
                    <form action="/customer/checkout-complete" method="POST" name="form_payment"
                        class="form-horizontal">

                        <div class="checkout-header">

                            <div class="row">

                                <div class="col-lg-3">
                                    <div class="step">
                                        <a href="">
                                            <div class="number">1</div>
                                            <div class="info">
                                                <div class="title">Delivery Options</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="step">
                                        <a href="">
                                            <div class="number">2</div>
                                            <div class="info">
                                                <div class="title">Shipping Address</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="step active">
                                        <a href="">
                                            <div class="number">3</div>
                                            <div class="info">
                                                <div class="title">Payment</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="step">
                                        <a href="">
                                            <div class="number">4</div>
                                            <div class="info">
                                                <div class="title">Complete Payment</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="checkout-body">
                            <h4 class="checkout-title">Choose a payment method</h4>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-lg-right">Cardholder Name <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control required" name="cardholder" placeholder="" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-lg-right">Card Number <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control required" name="cardnumber" placeholder="" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-lg-right">Payment Types <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <ul class="list-inline payment-type">
                                        <li class="active"><a href="#" data-click="set-payment" data-value="Paypal"
                                                data-toggle="tooltip" data-title="Paypal" data-placement="top"
                                                data-trigger="hover"><i class="fab fa-cc-paypal"></i></a></li>
                                        <li><a href="#" data-click="set-payment" data-value="Visa" data-toggle="tooltip"
                                                data-title="Visa" data-placement="top" data-trigger="hover"><i
                                                    class="fab fa-cc-visa"></i></a></li>
                                        <li><a href="#" data-click="set-payment" data-value="Master Card"
                                                data-toggle="tooltip" data-title="Master Card" data-placement="top"
                                                data-trigger="hover"><i class="fab fa-cc-mastercard"></i></a></li>
                                        <li><a href="#" data-click="set-payment" data-value="Credit Card"
                                                data-toggle="tooltip" data-title="Credit Card" data-placement="top"
                                                data-trigger="hover"><i class="fab fa-cc-discover"></i></a></li>
                                    </ul>
                                    <input type="hidden" name="payment_type" value="" data-id="payment-type" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-lg-right">Expiration Date <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class="width-100">
                                        <div class="row row-space-0">
                                            <div class="col-5">
                                                <input type="text" name="mm" placeholder="MM"
                                                    class="form-control required p-l-5 p-r-5 text-center" />
                                            </div>
                                            <div class="col-2 text-center">
                                                <div class="text-muted p-t-5 m-t-2">/</div>
                                            </div>
                                            <div class="col-5">
                                                <input type="text" name="yy" placeholder="YY"
                                                    class="form-control required p-l-5 p-r-5 text-center" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-lg-right">CSC <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-8">
                                    <div class="width-100 pull-left m-r-10">
                                        <input type="text" name="number" placeholder=""
                                            class="form-control required p-l-5 p-r-5 text-center" />
                                    </div>
                                    <a href="#" class="text-muted f-s-12 pull-left m-t-5 p-t-2"><i
                                            class="fa fa-question-circle"></i> What's this?</a>
                                </div>
                            </div>
                        </div>


                        <div class="checkout-footer">
                            <a href="checkout_info.html" class="btn btn-white btn-theme pull-left">BACK</a>
                            <button type="submit" class="btn btn-inverse btn-theme m-l-10">PROCEED</button>
                        </div>

                    </form>
                </div>

                <%- include("./footer.ejs") %>

</html>