<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>Chipze | Login Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/adminpanel/app.min.css" rel="stylesheet" />
    <script src="/js/adminpanel/app.min.js" defer></script>

</head>

<body class="pace-top">

    <div id="page-loader" class="fade show">
        <span class="spinner"></span>
    </div>


    <div id="page-container" class="fade">

        <div class="login login-with-news-feed">

            <div class="news-feed">
                <div class="news-image" style="background-image: url(/images/slider-1-cover.jpg)"></div>
                <div class="news-caption">
                    <h4 class="caption-title"><b>Chipze</b></h4>
                    <p>
                        Computer Accessories and peripherals
                    </p>
                </div>
            </div>


            <div class="right-content">

                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> <b>Chipze</b>
                        <small>Computer Accessories and peripherals</small>
                    </div>
                </div>


                <div class="login-content">
                    <form action="/customer/login" method="POST" class="margin-bottom-0">
                        <div class="form-group m-b-15">
                            <input type="text" name="email" class="form-control form-control-lg"
                                placeholder="Email Address" required />
                        </div>
                        <div class="form-group m-b-15">
                            <input type="password" name="password" class="form-control form-control-lg"
                                placeholder="Password" required />
                        </div>

                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                            Not a member yet? Click <a href="/customer/register">here</a> to register.
                        </div>

                    </form>
                </div>

            </div>

        </div>

</html>