<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Add Category</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <link href="/css/adminpanel/add-single-product.css" rel="stylesheet" />
    <script src="/js/adminpanel/app.min.css" defer></script>
</head>

<body>
    <div id="page-container" class="fade show">
        <%- include("./navigation-bar.ejs") %>
        <div class="category-sidebar">
            <ul class="category-list">
                <li class="list-header">Categories</li>
                <% for (let category of categories) { %>
                <li><%= category.name %></li>
                <% } %>
            </ul>
        </div>
        
        <form action="/admin-panel/add-category" method="post">
            <h2 class="form-heading">Add Category</h2>
            <section id="product-image">
                <div class="form-group">
                    <label for="category">Category Name:</label>
                    <input type="text" id="category" name="categoryName">
                </div>
            </section>
            <button type="submit">Add Category</button>
        </form>
</body>

</html>