<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
  <title>Add Multiple Product</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/app.min.css" rel="stylesheet" />
  <link href="/css/adminpanel/add-multiple-product.css" rel="stylesheet" />
  <script src="/js/app.min.css" defer></script>
</head>


<body>
  <div id="page-container" class="fade show">
    <%- include("./navigation-bar.ejs") %>
    <form action="/admin-panel/add-multiple-product" method="post" enctype="multipart/form-data">
      <h2>Add worksheet</h2>
      <div class="form-group">
        <label for="worksheet">upload product worksheet:</label>
        <input type="file" id="worksheet" name="workBook">
      </div>
      <button type="submit">SUBMIT</button>
    </form>
</body>

</html>