<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Customer Report</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <link href="/css/adminpanel/add-single-product.css" rel="stylesheet" />
    <script src="/js/adminpanel/app.min.css" defer></script>
</head>

<body>
    <div id="page-container" class="fade show">
        <%- include("./navigation-bar.ejs") %>
            <h2 class="table-heading">CUSTOMER REPORT</h2>
            <p>Sorted by Average</p>
            <table>
                <tr>
                    <th>S. no.</th>
                    <th>Customer Id</th>
                    <th>Customer Name</th>
                    <th>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Total Spent</th>
                    <th>Total Orders</th>
                    <th>Last Purchase Date</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>15</td>
                    <td>Srinath</td>
                    <td>srinath1989@gmail.com</td>
                    <td>30,450</td>
                    <td>1</td>
                    <td>5, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>12</td>
                    <td>Gokul Krishnan</td>
                    <td>gokulkrishrgk@gmail.com</td>
                    <td>25,555</td>
                    <td>4</td>
                    <td>5, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>55</td>
                    <td>Hamrish</td>
                    <td>hamrishtc@gmail.com</td>
                    <td>17,000</td>
                    <td>6</td>
                    <td>5, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>35</td>
                    <td>Venkat Shankar</td>
                    <td>venkis@yahoo.com</td>
                    <td>14,500</td>
                    <td>2</td>
                    <td>5, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>33</td>
                    <td>Sivakumar</td>
                    <td>sivafulchrumg@gmail.com</td>
                    <td>11,000</td>
                    <td>1</td>
                    <td>5, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>10</td>
                    <td>Sachin Singh</td>
                    <td>sachinbale@gmail.com</td>
                    <td>10,350</td>
                    <td>5</td>
                    <td>5, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>46</td>
                    <td>Gunalan</td>
                    <td>onlythenijoint@gmail.com</td>
                    <td>7000</td>
                    <td>1</td>
                    <td>5, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>49</td>
                    <td>Silambarasan</td>
                    <td>simbustr@gmail.com</td>
                    <td>3,555</td>
                    <td>1</td>
                    <td>6, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>9</td>
                    <td>Dhanush</td>
                    <td>danushkraja@gmail.com</td>
                    <td>2000</td>
                    <td>2</td>
                    <td>30, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>353</td>
                    <td>Gokul Kannan</td>
                    <td>gokulkhan@gmail.com</td>
                    <td>1,500</td>
                    <td>1</td>
                    <td>5, September 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>132</td>
                    <td>Gowtham</td>
                    <td>fpmayakam@gmail.com</td>
                    <td>500</td>
                    <td>1</td>
                    <td>2, October 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>10</td>
                    <td>Sachin Singh</td>
                    <td>sachinbale@gmail.com</td>
                    <td>10,350</td>
                    <td>5</td>
                    <td>5, January 2020</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>15</td>
                    <td>Srinath</td>
                    <td>srinath1989@gmail.com</td>
                    <td>30,450</td>
                    <td>1</td>
                    <td>5, January 2020</td>
                </tr>
            </table>
</body>

</html>