<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Customer Report</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <link href="/css/adminpanel/add-single-product.css" rel="stylesheet" />
    <script src="/js/adminpanel/app.min.css" defer></script>
</head>

<body>
    <div id="page-container" class="fade show">
        <%- include("./navigation-bar.ejs") %>
        <h1 class="table-heading">PRODUCT-PERFORMANCE REPORT</h1>
        <p>Sorted by Most selling product</p>
        <table>
            <tr>
                <th>ProductID</th>
                <th>Product Name</th>
                <th>Sold</th>
                <th>Category</th>
            </tr>
            <tr>
                <td>212</td>
                <td>Zebronics hub</td>
                <td>630</td>
                <td>USB Hub</td>
            </tr>
            <tr>
                <td>232</td>
                <td>Quantum Hi-Tech QHM Keyoard</td>
                <td>560</td>
                <td>keyboard</td>
            </tr>
            <tr>
                <td>230</td>
                <td>Asus VivoBook 15</td>
                <td>240</td>
                <td>Laptop</td>
            </tr>
            <tr>
                <td>113</td>
                <td>WD Green SATA 240GB</td>
                <td>153</td>
                <td>Storage</td>
            </tr>
            <tr>
                <td>212</td>
                <td>Acer i5(9800F) gaming tower</td>
                <td>145</td>
                <td>Gaming CPUs</td>
            </tr>
            <tr>
                <td>232</td>
                <td>Zebronics Keyoard</td>
                <td>130</td>
                <td>keyboard</td>
            </tr>
            <tr>
                <td>230</td>
                <td>Lenovo ideaPad 15s</td>
                <td>120</td>
                <td>Laptop</td>
            </tr>
            <tr>
                <td>78</td>
                <td>Seagate 1TB Hardisk</td>
                <td>113</td>
                <td>External Hard disk</td>
            </tr>
        </table>
</body>

</html>