<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Customer Report</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/css/app.min.css" rel="stylesheet" />
    <link href="/css/adminpanel/add-single-product.css" rel="stylesheet" />
    <script src="/js/adminpanel/app.min.css" defer></script>
</head>

<body>
    <div id="page-container" class="fade show">
        <%- include("./navigation-bar.ejs") %>
            <h1 class="table-heading">SALES REPORT</h1>
            <table>
                <tr>
                    <th>Total Orders</th>
                    <th>Total Amount</th>
                    <th>Average Sales Per Order</th>
                    <th>Year</th>
                </tr>
                <tr>
                    <td>57</td>
                    <td>5,45,500</td>
                    <td>41.20</td>
                    <td>2020</td>
                </tr>
            </table>
</body>

</html>