form {
  display: grid;
  grid-template-columns: repeat(1, 1000px);
  justify-content: center;
  margin: 10px auto;
}

.form-heading {
  justify-self: center;
}

#product-name input {
  width: 100%;
}

#product-desc input,
#product-spec input {
  margin: 5px 0;
}

#product-desc textarea,
#product-spec textarea {
  width: 100% !important;
  height: 100px !important;
}

.form-group input,
.form-group select {
  width: 100%;
}

#add-spec-btn,
#add-desc-btn,
#add-img-btn,
#add-key-btn,
button[type*="submit"] {
  border: 1px solid #175a5c;
  border-radius: 2px;
  padding: 5px 10px;
  color: #175a5c;
  background-color: white;
  width: 25%;
  text-align: center;
}

#add-spec-btn:hover,
#add-desc-btn:hover,
#add-img-btn:hover,
#add-key-btn:hover,
button[type*="submit"]:hover {
  background-color: #175a5c;
  color: white; 
}

.list-category--container {
  width: 77vw;
  margin: 10px auto;
  display: flex;
}

.list-category--container div {
  background: #c8cfcf;
  padding: 10px;
  margin: 0 20px;
}

.list-category--container div ol {
  padding: 0 20px;
}

table,
tr,
th,
td {
  border: 1px solid black;
  padding: 5px 5px 3px 5px;
}

table {
  width: 90vw;
  margin: 5px auto;
}

.table-heading {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}

th {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 50px;
}
